// Colors
$white: #FFFFFF;
$lightGrey: #efefef;
$grey: #a1a1a1;

//Elements signin
$signinBackgroundColor: $lightGrey;
$signinBoxBackgroundColor: $white;

//Elements form
$fieldsetLegendColor: $grey;
