

body {
    background: $bodyBackgroundColor;
}

body > .container {
    padding-top: 60px;
    background: $containerBackgroundColor;
}

.mainContainer > div:first-child {
    margin-bottom: 25px;
    min-height: 200px;
}