.dataTables_wrapper {
  td, th {
    vertical-align: middle !important;
  }

  .btn-group {
    margin: {
      top: 0;
      bottom: 0;
    };
  }

  .youtube-loadingbar-wrapper {
    height: 2px;
  }
}