.soModalDefaultModal {
    overflow: hidden;
    min-width: 320px;
    @include border-radius($modal-border-radius);
    background-color: transparent;
    @include box-shadow(0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3));

    .modalHeader {
        padding: 10px;
        background: $modal-header-bg;
        color: $modal-header-color;

        h3 {
            text-align: center;
            margin: {
                top: 0;
                bottom: 0;
            }
        }
    }

    .modalBody {
        padding: 10px;
        background: $modal-body-bg;
        color: $modal-body-color;
    }

    .modalFooter {
        background: $modal-footer-bg;
        color: $modal-footer-color;
        text-align: right;
        padding: 10px;
    }
}

.soModalContainerFixed {
    z-index: 2001;
}

.soModalDefaultOverlay {
    z-index: 2001;
    background-color: #000;
}

.soModalZoomModal {
    max-width: 90%;
    width: auto;
}

/* Style pour la modal image */
.soModalImageOverlay {
    z-index: 2001;
    background-color: #000;
}

.soModalImageModal {
    display: inline-block;
    width: auto;
    max-width: 70%;
    padding: 0px;
    background: transparent;
    @include box-shadow(0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3));
}

.soModalImageModal img {
    max-width: 100%;
}