.soModalDefaultModal {
    padding: 20px;
    min-width: 320px;
    border-radius: 2px;
    background-color: #fff;
    @include box-shadow(0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3));
}

.soModalContainerFixed {
    z-index: 2001;
}

.soModalDefaultOverlay {
    z-index: 2001;
    background-color: #000;
}

.soModalZoomModal {
    max-width: 90%;
    width: auto;
}