/*.champ-image-vignette {
    max-height:80px;
    width:auto;
    height:auto;
    max-width: 80px;
}*/

.form-group-file, .select2-container {

  .dl-horizontal {
    font-size: 12px;

    @media (min-width: $screen-sm-min) {
      dt {
        width: 95px;
      }

      dd {
        margin-left: 115px;
      }
    }
  }
}
