.navbar.navbar, .navbar-default.navbar {
    color: $navbarColor;
    background: $navbarBackgroundColor;
    border-bottom: 1px solid darken($colorSolireLightGrey, 10%);

    input[type="text"].form-control {
        @include input-placeholder {
            color: lighten($navbarColor, 40%);
            font-style: italic;
        }
    }

    .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus {
        background-color: $navbarActiveBackgroundColor;
        color: $navbarActiveColor;
    }
}

