{% extends 'main.html.twig' %}
{% import "util/breadcrumbs.html.twig" as breadcrumbs %}

{% block content %}
    <h1>Mon profil</h1>

    {{ breadcrumbs.breadcrumbs(breadCrumbs) }}

    <form method="post" action="back/user/changepassword.html">
        <fieldset>
            <legend>Modifier le mot de passe</legend>
            <div class="line form-group">
                <label class="col-sm-2 control-label" for="old_password">Mot de passe actuel</label>

                <div class="col-sm-10">
                    <input type="password" value="" name="old_password" id="old_password"
                           class="form-control form-controle form-oblig form-mix"/>
                </div>
            </div>

            <div class="line form-group">
                <label class="col-sm-2 control-label" for="new_password">Nouveau mot de passe</label>

                <div class="col-sm-10">
                    <input type="password" value="" name="new_password" id="new_password"
                           class="form-control form-controle form-oblig form-mix"/>
                </div>
            </div>

            <div class="line form-group">
                <label class="col-sm-2 control-label" for="new_password_c">Confirmation du nouveau mot de passe</label>

                <div class="col-sm-10">
                    <input type="password" value="" name="new_password_c" id="new_password_c"
                           class="form-control form-controle form-oblig form-mix"/>
                </div>
            </div>

            <button class="btn btn-success btn-sm formajaxsubmit" type="submit">
                <i class="icon-edit"></i> Mettre à jour votre mot de passe
            </button>
        </fieldset>
    </form>
{% endblock %}