

/* Colors */
/*.color-yellow, .color-yellow hr   {background:#f2bc00;}
.color-red, .color-red hr     {background:#dd0000;}
.color-blue, .color-blue hr    {background:#148ea4;}
.color-white, .color-white hr   {background:#dfdfdf;}
.color-orange, .color-orange hr  {background:#f66e00;}
.color-green, .color-green hr   {background:#8dc100;}
.color-yellow a {color:#f2bc00;}
.color-red a    {color:#dd0000;}
.color-blue a   {color:#148ea4;}
.color-white a  {color:#dfdfdf;}
.color-orange a {color:#f66e00;}
.color-green a  {color:#8dc100;}
.color-yellow h3,
.color-white h3,
.color-green h3
{color:#000;}
.color-red h3,
.color-blue h3,
.color-orange h3
{color:#FFF;}*/

hr {
    height: 1px;
    border: none;
}
/* End Colors */

/* Columns section */
#columns .column {
    float: left;
    width: 32.5%;
    /* Min-height: */
    min-height: 190px;
    height: auto !important; 
    height: 400px;
}

/* Column dividers (background-images) : */
/*	#columns #column1 { background: url(img/column-bg-left.png) no-repeat right top; }
        #columns #column3 { background: url(img/column-bg-right.png) no-repeat left top; }
*/


#columns #column1 .widget, #columns #column2 .widget, #columns #column3 .widget { margin: 10px 10px 0 10px;   font-size: 0.8em; }
#columns .widget {
    margin: 30px 20px 0 20px;
    padding: 2px;
/*    background-image: -moz-linear-gradient(center top , #F6F6F6, #DFE0E0);*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#columns ul {
    margin-left: 4px;
}

#columns .widget .widget-head {
    color: #000;
    

    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#columns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
    line-height: 28px;
}

.widget h4 {
    color: #666666;
    font-size: 11px;
    font-weight: normal;
}

#columns .widget .widget-content {
    background: white;
    padding: 0 5px;
    color: #000;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}
#columns .widget .widget-content p {
    padding: 0.8em 0;
}

#columns .widget .widget-content a {
    font-size: 100%;font-weight: normal;     color: #0A7CCA;
}
#columns .widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}
#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns .widget .widget-content ul {
    padding: 5px 0 5px 0px;
    list-style: none;
}
#columns .widget .widget-content ul li {padding: 3px 0;background-color: whitesmoke;border-bottom: 1px solid white;padding: 5px;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
/* End Columns section */

.board-human-time {
    color: #222222;
    font-size: 80%;
    font-style: italic;
    margin-top: 8px;
    text-align: right;
}



.dragging {
    box-shadow: 0 0 7px #666666;
}

ul li.widget-placeholder {
    margin: 0px;
    padding: 0;
}

.widget h4 {
/*    color: #0A7CCA;*/
}

.widget .number {
    width: 50px;
    font-weight: bold;
    display: block;
    float: left;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 140%;
}