@charset "UTF-8";
/* line 3, ../../sass/layout/_content.scss */
body {
  background: #efefef;
}

/* line 7, ../../sass/layout/_content.scss */
body > .container {
  padding-top: 60px;
  background: #FFFFFF;
}

/* line 12, ../../sass/layout/_content.scss */
.mainContainer {
  margin-bottom: 25px;
}

/* line 1, ../../sass/layout/_footer.scss */
.footer .license {
  color: #888;
  font-size: 10px;
  margin-top: 30px;
  padding: 0px 10px 0px 0;
  text-align: right;
}
/* line 8, ../../sass/layout/_footer.scss */
.footer .license .license-logo {
  float: right;
}

/* line 2, ../../sass/layout/_fieldset.scss */
fieldset {
  clear: both;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px 4px 4px 4px;
  padding: 3px;
  padding: 2px 20px 20px 20px;
  margin-left: 0;
}
/* line 11, ../../sass/layout/_fieldset.scss */
fieldset .expand-collapse {
  background-color: white;
  padding: 0px 5px;
  font-size: 11px;
  display: block;
  margin-top: -29px;
}
/* line 18, ../../sass/layout/_fieldset.scss */
fieldset .expand-collapse a {
  font-size: 11px;
}
/* line 21, ../../sass/layout/_fieldset.scss */
fieldset .expand-collapse a.collapse {
  visibility: visible;
  display: initial;
}
/* line 26, ../../sass/layout/_fieldset.scss */
fieldset .expand-collapse a.disabled {
  color: #ababab;
  cursor: default;
  text-decoration: none;
}

/* line 36, ../../sass/layout/_fieldset.scss */
fieldset.meta {
  background: #f5f5f5;
  border: none;
  padding: 2px 20px 6px;
}
/* line 41, ../../sass/layout/_fieldset.scss */
fieldset.meta > legend {
  font-size: 12px;
  margin-top: 47px;
}
/* line 46, ../../sass/layout/_fieldset.scss */
fieldset.meta fieldset {
  padding: 2px 20px 6px;
}
/* line 49, ../../sass/layout/_fieldset.scss */
fieldset.meta fieldset legend {
  font-size: 12px;
}

/* line 55, ../../sass/layout/_fieldset.scss */
fieldset fieldset {
  margin-left: 30px;
}

/* line 59, ../../sass/layout/_fieldset.scss */
legend {
  margin: 0;
  border: none;
  font-family: georgia;
  color: #a1a1a1;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  width: auto;
  line-height: 16px;
  font-size: 17px;
}
/* line 71, ../../sass/layout/_fieldset.scss */
legend a {
  color: #a1a1a1;
}
/* line 75, ../../sass/layout/_fieldset.scss */
legend .board-human-time, legend .page-info {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  margin-top: 8px;
  text-align: right;
}

/* line 84, ../../sass/layout/_fieldset.scss */
legend > a {
  font-size: inherit;
  display: inline-block;
  padding: 0;
}

/* line 90, ../../sass/layout/_fieldset.scss */
legend > a:hover {
  text-decoration: none;
}

/* line 94, ../../sass/layout/_fieldset.scss */
legend:hover {
  color: #3485C9;
  cursor: pointer;
}

/* line 1, ../../sass/layout/_field.scss */
.form-group .btn-group {
  margin-top: 0px;
}

/* line 5, ../../sass/layout/_field.scss */
#modalMore .form-group {
  min-height: 40px;
}

/* line 9, ../../sass/layout/_field.scss */
.modal-footer .btn {
  margin-bottom: 0px;
}

/*.champ-image-vignette {
    max-height:80px;
    width:auto;
    height:auto;
    max-width: 80px;
}*/
/* line 1, ../../sass/layout/_typeahead.scss */
.typeahead, .tt-hint {
  border: 1px solid #024e6a;
  border-radius: 8px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  outline: medium none;
  padding: 8px 12px;
  width: 300px;
}

/* line 11, ../../sass/layout/_typeahead.scss */
.typeahead {
  background-color: #fff;
}

/* line 14, ../../sass/layout/_typeahead.scss */
.tt-hint {
  color: #999;
}

/* line 17, ../../sass/layout/_typeahead.scss */
.tt-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  width: 300px;
}

/* line 25, ../../sass/layout/_typeahead.scss */
.tt-suggestion {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 20px;
  cursor: pointer;
  color: initial;
}

/* line 32, ../../sass/layout/_typeahead.scss */
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
  font-size: 14px;
}

/* line 36, ../../sass/layout/_typeahead.scss */
.tt-suggestions .page-type {
  float: right;
  font-style: italic;
}

/* line 40, ../../sass/layout/_typeahead.scss */
.tt-suggestions .page-name {
  font-size: 20px;
  font-weight: bold;
}

/* line 44, ../../sass/layout/_typeahead.scss */
.tt-suggestions .page-description {
  margin: 0;
}

/* line 47, ../../sass/layout/_typeahead.scss */
.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #03739c;
}

/* line 2, ../../sass/layout/_button.scss */
.btn-group-fixed {
  /*position: fixed !important;*/
  /*bottom: 20px;*/
  z-index: 250 !important;
  display: block;
}
/* line 8, ../../sass/layout/_button.scss */
.btn-group-fixed .btn {
  text-align: left;
}

/* line 2, ../../sass/layout/_sortable.scss */
.sortable-ghost {
  opacity: 0.4;
}

/* line 1, ../../sass/layout/_dialog.scss */
.soModalDefaultModal {
  padding: 20px;
  min-width: 320px;
  border-radius: 2px;
  background-color: #fff;
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
}

/* line 9, ../../sass/layout/_dialog.scss */
.soModalContainerFixed {
  z-index: 2001;
}

/* line 13, ../../sass/layout/_dialog.scss */
.soModalDefaultOverlay {
  z-index: 2001;
  background-color: #000;
}

/* line 18, ../../sass/layout/_dialog.scss */
.soModalZoomModal {
  max-width: 90%;
  width: auto;
}

/* Style pour la modal image */
/* line 24, ../../sass/layout/_dialog.scss */
.soModalImageOverlay {
  z-index: 2001;
  background-color: #000;
}

/* line 29, ../../sass/layout/_dialog.scss */
.soModalImageModal {
  display: inline-block;
  width: auto;
  max-width: 70%;
  padding: 0px;
  background: transparent;
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
}

/* line 38, ../../sass/layout/_dialog.scss */
.soModalImageModal img {
  max-width: 100%;
}

/* line 2, ../../sass/page/_signin.scss */
.page-signin {
  background: #efefef;
  /*
      .btn {
          margin-left: 38px;
          margin-top: 0px;
          margin-bottom: 10px;
          position: relative;
      }*/
}
/* line 5, ../../sass/page/_signin.scss */
.page-signin .error-message {
  display: none;
}
/* line 9, ../../sass/page/_signin.scss */
.page-signin article {
  position: relative;
  margin-top: 15%;
  margin-right: auto;
  margin-left: auto;
  width: 356px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 3px 2px 5px #BFBFBF;
}

/* Dans le cas ou le navigateur est pas supporté */
/* line 30, ../../sass/page/_signin.scss */
.error .page-signin form {
  display: none;
}
/* line 33, ../../sass/page/_signin.scss */
.error .page-signin .error-message {
  display: block;
}
