{% extends 'main.html.twig' %}
{% import "util/breadcrumbs.html.twig" as breadcrumbs %}

{% block title %}
    Gestion des fichiers
{% endblock %}

{% block content %}
    <div data-amd="modules/page/listefichiers">

        {{ breadcrumbs.breadcrumbs(breadCrumbs) }}

        <div class="row">
            <div class="col-md-4">
                <a href="#" class="btn btn-sm btn-success" id="pickfiles" style="display: none;">
                    <i class="icon-folder-open"></i> Ajouter un fichier
                </a>

                <div id="folders"></div>
            </div>
            <div class="col-md-8">
                <table data-datatable-name="media"
                       id="datatable" class="table table-condensed"></table>
            </div>
        </div>
    </div>
{% endblock %}