// Colors
$white: #fff;
$lightGrey: #efefef;
$grey: #a1a1a1;

$colorSolireWhite: #fff;
$colorSolireBlue: #0071bf;
$colorSolireGreen: #64C81e;
$colorSolireLightGrey: #f0f0f0;
$colorSolireGrey: #333333;
$colorSolireOrange: #ff7518;
$colorSolirePurple: #9954bb;
$colorSolireRed: #c9302c;