//Elements main
$bodyBackgroundColor: $lightGrey;
$containerBackgroundColor: $white;

//Elements signin
$signinBackgroundColor: $lightGrey;
$signinBoxBackgroundColor: $white;

//Elements form
$fieldsetLegendColor: $grey;

//Elements navbar
$navbarColor: $colorSolireGrey;
$navbarBackgroundColor: $colorSolireLightGrey;

$navbarActiveBackgroundColor: $colorSolireBlue;
$navbarActiveColor: $colorSolireWhite;

//Elements preloader cube
$preloaderCubeBackgroundColor: $colorSolireBlue;