
//Elements main
$bodyBackgroundColor: $lightGrey;
$containerBackgroundColor: $white;

//Elements signin
$signinBackgroundColor: $lightGrey;
$signinBoxBackgroundColor: $white;

//Elements form
$fieldsetLegendColor: $grey;

