{% extends "main-sign.html.twig" %}

{% block content %}
  <section class="page-signin" data-amd="modules/page/signin">

    <article>
      <div class="error-message">
        <b>Module d'administration</b>
        <br/>
        <br/>

        <p>
          Pour votre confort et votre sécurité, merci de télécharger un navigateur récent et compatible :
          <a href="http://www.mozilla-europe.org/fr/" target="_blank">Firefox</a>,
          <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a>
        </p>
      </div>

      <form id="forgot-password" data-amd="modules/helper/ajaxform" method="post"
            action="back/sign/newpasswordsave.html">
        <fieldset>
          <legend>Nouveau mot de passe</legend>

          <p class="alert alert-warning">Votre mot de passe doit être composé d'un minimum de
            <strong>8 caractères</strong> avec au moins
            <strong>1 majuscule</strong>,
            <strong>1 minuscule</strong> et
            <strong>1 chiffres</strong>.<br>
            Evitez les lettres et les chiffres qui se suivent.
          </p>

          <div class="form-group">
            <input name="new_password" id="new_password" class="form-control form-controle form-oblig form-mix"
                   type="password" placeholder="Nouveau mot de passe">
          </div>

          <div class="form-group">
            <input name="new_password_c" id="new_password_c" class="form-control form-controle form-oblig form-mix"
                   type="password" placeholder="Confirmation du mot de passe">
          </div>

          <input type="hidden" value="{{ email }}" name="email">
          <input type="hidden" value="{{ cle }}" name="cle">

          <div class="form-group">
            <button class="btn btn-success btn-block" type="submit"><i class="icon-ok"></i> Valider</button>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-center">
                  <a href="back/" tabindex="5">
                    <small>Se connecter</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>

      <p style="color:#888; float:right; font-size:10px; margin-top:10px;">Outil de gestion de contenu développé par
        {{ img.output('back/img/logo-solire-fw.png', {
          'title': 'Solire : agence web lyon',
          'style': 'float: right; margin: -2px 0 0 4px; height:20px;',
        }, true) }}
      </p>

      <div style="clear:both;"></div>
    </article>
  </section>
{% endblock %}
