{% extends 'main.html.twig' %}
{% import 'util/preloader.html.twig' as preloader %}

{% block content %}
    <div>
        <h1>Tableau de bord</h1>

        <div class="datatable-wrapper hidden">
            <table data-amd="modules/helper/datatable" data-datatable-name="{{ name }}"
                   id="datatable" class="table table-condensed dt-responsive"></table>
        </div>
    </div>
{% endblock %}