{% extends 'main.html.twig' %}
{% import 'util/preloader.html.twig' as preloader %}


{% block title %}
  Tableau de bord
{% endblock %}

{% block content %}
  {{ parent() }}
  <div class="datatable-wrapper hidden">
    <table data-amd="modules/helper/datatable" data-datatable-name="{{ name }}"
           id="datatable" class="table table-condensed dt-responsive table-striped table-hover"></table>
  </div>
{% endblock %}