{% extends 'main.html.twig' %}

{% block content %}
    {{ parent() }}
    <div>
        <h1>Tableau de bord</h1>

        <table data-amd="modules/helper/datatable" data-datatable-name="{{ name }}"
               id="datatable" class="table table-condensed dt-responsive"></table>
    </div>
{% endblock %}