{% extends 'main.html.twig' %}

{% block content %}
    <h1>Tableau de bord</h1>

    <div class="alert alert-danger" role="alert">
        @TODO Breadcrumbs à mettre dans le main.html.twig et utilisé la macro breadcrumbs de front
        Il faudra mettre dans lib ou créé un repo pour les template / macro twig ou plus generalement pour
        des plugins ou truc du genre (à discuter entre dev)
    </div>

    <div class="alert alert-danger" role="alert">
        @TODO Remplacer l'ancien datatable par Trieur
    </div>
{% endblock %}