<a href="#" data-name="translate" data-type="textarea" data-pk="{{ row.cle_sha }}|{{ row.id_version }}"
   data-url="back/formulaire/save.html?name=translate" data-amd="modules/helper/editable">{{ cell }}</a>
