<div class="btn-group" data-amd="modules/helper/ajaxcall">
  <a href="back/user/form.html?id={{ row.id }}" title="Ajout une ressource"
     class="btn btn-sm btn-success exec-onclick-ajaxdialog" type="button">
    <i class="fa fa-pencil"></i>
  </a>
</div>
