<ul class="tour-wrapper">
    <li class="tour-single-step" data-tour-target="#bs-navbar-collapse-1">
        <div class="tour-more-info bottom">
            <h2>Navigation</h2>
            <p>La barre de menu <span class="note">toujours présente en haut du module d'administration<span> permet de :
            <ul>
                <li>accèder aux différents outils nécessaires à la gestion du site,</li>
                <li>consulter la visite guidée,</li>
                <li>accèder rapidement à l'édition d'un contenu <span class="note">moteur de recherche</span>,</li>
                <li>gérer son profil et de se déconnecter.</li>
            </ul>
            </p>
        </div>
    </li>
    
    <li class="tour-single-step" data-tour-target="h1:first">
        <div class="tour-more-info bottom">
            <h2>Tableau de bord</h2>
            <p>Ceci est une vue globale des contenus du site.</p>
        </div>
    </li>

    <li class="tour-single-step" data-tour-target="th">
        <div class="tour-more-info bottom">
            <h2>Filtres et tris</h2>
            <p>A partir des entêtes, il est possible d'effectuer des :            
            <ul>
                <li>
                    Tris : en cliquant sur les titres de colonne,
                </li>
                <li>
                    Filtres : en interagissant dans les champs situés sous les titres de colonne.
                </li>
            </ul>
            
            </p>
        </div>
    </li>

    <li class="tour-single-step" data-tour-target=".btn-group:first">
        <div class="tour-more-info bottom">
            <h2>Colonne &laquo; Action &raquo;</h2>
            <p>En un clic, cette colonne permet de :
            <ul>
                <li>
                    <i class="fa fa-pencil"></i> : accéder aux formulaires d'édition de la page
                </li>
                <li>
                    <i class="fa fa-eye"></i> : gérer la visibilité de la page sur votre site
                </li>
                <li>
                    <i class="fa fa-trash"></i> : supprimer la page de façon définitives
                </li>
            </ul>
            </p>
        </div>
    </li>

    <li class="tour-single-step" data-tour-target=".btn-primary">
        <div class="tour-more-info top">
            <h2>Pagination</h2>
            <p>Si le tableau de bords contient plus de 100 lignes, une pagination permet d'afficher la suite.</p>
        </div>
    </li>

</ul>

<div class="tour-cover-layer"></div>