<ul class="tour-wrapper">
    <li class="tour-single-step" data-tour-target="h1:first">
        <span>Étape 1</span>

        <div class="tour-more-info bottom">
            <h2>Tableau de bord</h2>
            <p>Le tableau de bord offre une vue sur les derniers contenus créés ou édités.</p>
            {#<img src="img/step-1.png" alt="step 1">#}
        </div>
    </li>

    <li class="tour-single-step" data-tour-target=".btn-group:first">
        <span>Étape 2</span>

        <div class="tour-more-info bottom">
            <h2>Colonne &laquo; action &raquo;</h2>
            <p>La colonne &laquo; action &raquo; permet en un clic, l'accès à l'édition du contenu ou la suppression de celui-ci.</p>
            {#<img src="img/step-2.png" alt="step 2">#}
        </div>
    </li>

</ul>

<div class="tour-cover-layer"></div>