<ul class="tour-wrapper">
    
    <li class="tour-single-step" data-tour-target="h1:first">
        <div class="tour-more-info bottom">
            <h2>Pages du site</h2>

            <p>Ceci est une vue arborescente du site.</p>
        </div>
    </li>
    
    <li class="tour-single-step" data-tour-target="a.btn-crea">
        <div class="tour-more-info right">
            <h2>Création de nouveau contenu</h2>
            <p>En cliquant ici, un formulaire vierge s'affiche pour créer le nouveau contenu correspondant.</p>
        </div>
    </li>

    <li class="tour-single-step" data-tour-target="fieldset .fa-file">
        <div class="tour-more-info right">
            <h2>Arborescence</h2>
            <p>Ces pictos permettent d'identifier :</p>
                <ul>
                    <li>
                        <i class="fa fa-file"></i> : les pages <span class="note">en cliquant dessus, le formulaire d'édition correspondant s'affiche</span>,
                    </li>
                    <li>
                        <i class="fa fa-folder"></i> : les rubriques <span class="note">en cliquant dessus, les élements qu'elles peuvent contenir s'affichent</span>.
                    </li>
                </ul>
            </p>
        </div>
    </li>

    <li class="tour-single-step" data-tour-target=".mainContainer .cat-modif:first .btn:last">
        <div class="tour-more-info right">
            <h2>Boutons d'action</h2>

            <p>Ces boutons permettent de :</p>
            <ul>
                <li>
                    <i class="fa fa-retweet"></i> : gérer l'ordre d'affichage des pages entre elles, au sein d'une même rubrique,
                </li>
                <li>
                    <i class="fa fa-pencil"></i> : accéder aux formulaires d'édition de la page,
                </li>
                <li>
                    <i class="fa fa-eye"></i> : gérer la visibilité de la page sur le site,
                </li>
                <li>
                    <i class="fa fa-trash"></i> : supprimer la page de façon définitive.
                </li>
            </ul>
        </div>
    </li>
</ul>

<div class="tour-cover-layer"></div>