<ul class="tour-wrapper">
    
    <li class="tour-single-step" data-tour-target="h1:first">
        <div class="tour-more-info bottom">
            <h2>Edition de page</h2>

            <p>Ceci est un formulaire permettant d'alimenter la page en cours d'édition <span class="note">création / modification</span>.</p>
            <p>Les champs marqués d'un astérisque (*) sont obligatoires pour enregistrer la page.</p>
        </div>
    </li>
    
    <li class="tour-single-step" data-tour-target=".col-sm-2 div">
        <div class="tour-more-info bottom">
            <h2>Boite à outils</h2>
            <p>En un clic, pour la page "en cours d'édition", cette boîte <span class="note">omniprésente sur la droite</span> permet de :
            <ul>
                <li>
                    <i class="fa fa-check"></i> : enregistrer <span class="note">cela nécessite que tous les champs obligatoires soient remplis</span>,
                </li>
                <li>
                    <i class="fa fa-folder-open"></i> : importer un ou plusieurs médias <span class="note">pour illustrer les contenus</span>,
                </li>
                <li>
                    <i class="fa fa-camera"></i> : consulter la page dans le site <span class="note">ceci n'est pas un enregistrement</span>,
                </li>
                <li>
                    <i class="fa fa-warning"></i> : quitter sans enregistrer.
                </li>
            </ul>
            </p>
        </div>
    </li>
    
    <li class="tour-single-step" data-tour-target="select">
        <div class="tour-more-info bottom">
            <h2>Liste de choix</h2>
            <p>En cliquant sur un champ "liste déroulante", un choix peut être nécessaire.</p>
        </div>
    </li>

    <li class="tour-single-step" data-tour-target=".form-line input">
        <div class="tour-more-info bottom">
            <h2>Champ de saisie de texte "court"</h2>
            <p>En cliquant sur un champ "texte", la saisie de contenu peut être nécessaire.<br />
            La mise en forme se fait automatiquement.</p>
        </div>
    </li>

    <li class="tour-single-step" data-tour-target=".ladda-label">
        <span>Étape 5</span>

        <div class="tour-more-info bottom">
            <h2>Import de "fichier"</h2>
            <p>En cliquant sur le picto <i class="fa fa-folder-open"></i> cela permet d'importer un ou plusieurs médias pour illustrer le contenu associé à ce champ.</p>
        </div>
    </li>

    <li class="tour-single-step" data-tour-target=".selection span">
        <div class="tour-more-info bottom">
            <h2>Choix d'un "fichier"</h2>
            <p>Une fois le fichier importé, en cliquant sur la liste déroulante, cela permet de choisir le média qui servira a illustrer le contenu associé à ce champ.<br />
            Si il s'agit d'une image <span class="note">jpg, gif, png</span>, celle-ci pourra être recadrée afin de respecter la taille attendue sur le site.</p>
        </div>
    </li>

    <li class="tour-single-step" data-tour-target="iframe">
        <div class="tour-more-info top">
            <h2>Champ de saisie de texte "long"</h2>
            <p>Ce champ permet de saisir un texte sur plusieurs lignes.<br />
            La touche "Entrée" permet de faire un saut de paragraphe.<br />
            Le raccourci clavier "Ctrl + Entrée" permet de faire un saut de ligne.<br />
            La mise en forme est autorisée de façon restreinte en "mode texte" et de façon avancée en "mode html" <span class="note">nécessite de connaître les languages HTML et CSS</span>.</p>
            <p>
        </div>
    </li>
    

    <li class="tour-single-step" data-tour-target=".exec-onclick-addblock">
        <div class="tour-more-info top">
            <h2>Ajout de "bloc"</h2>

            <p>Ce bouton <i class="fa fa-plus"></i> permet d'ajouter un élément dans un regroupement "logique".<br />
            Il est possible d'interagir sur chaque bloc pour en gérer :</p>
            <ul>
                <li>
                    <i class="fa fa-retweet"></i> : l'ordre d'affichage entre eux,
                </li>
                <li>
                    <i class="fa fa-eye"></i> : la visibilité,
                </li>
                <li>
                    <i class="fa fa-trash"></i> : la suppression de façon définitive.
                </li>
            </ul>
            </p>
        </div>
    </li>
</ul>

<div class="tour-cover-layer"></div>