{% extends 'main.html.twig' %}

{% block content %}
    <div>
        <h1>[DATATABLE TITLE]</h1>
        <table data-amd="modules/helper/datatable" data-datatable-name="{{ name }}"
               id="datatable" class="table table-condensed">
        </table>
    </div>
{% endblock %}
