{% extends 'main.html.twig' %}
{% import "util/breadcrumbs.html.twig" as breadcrumbs %}

{% block content %}
    <div>
        <h1>{{ title }}</h1>
        {{ breadcrumbs.breadcrumbs(breadCrumbs) }}
        <table data-amd="modules/helper/datatable" data-datatable-name="{{ name }}"
               id="datatable" class="table table-condensed dt-responsive">
        </table>
    </div>
{% endblock %}
