{% extends 'main.html.twig' %}
{% import "util/breadcrumbs.html.twig" as breadcrumbs %}

{% block content %}
    {{ parent() }}
    <div>
        <h1>{{ title }}</h1>
        {{ breadcrumbs.breadcrumbs(breadCrumbs) }}
        <div class="datatable-wrapper hidden">
            <table data-amd="modules/helper/datatable" data-datatable-name="{{ name }}"
                   id="datatable" class="table table-condensed dt-responsive">
            </table>
        </div>
    </div>
{% endblock %}
