{% extends 'main.html.twig' %}
{% import "util/breadcrumbs.html.twig" as breadcrumbs %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {{ parent() }}
    {{ breadcrumbs.breadcrumbs(breadCrumbs) }}
    <div class="datatable-wrapper hidden">
        <table data-amd="modules/helper/datatable" data-datatable-name="{{ name }}"
               id="datatable" class="table table-condensed dt-responsive">
        </table>
    </div>
{% endblock %}
