<div id="modalCrop" class="hidden">
    <div class="modalHeader">
        <button type="button" class="close soModalDefaultClose" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Recadrer</h3>
    </div>

    <div class="modalBody row">
        <div class="col-md-12">
            <img src="" alt="" id="crop-target" class="img-thumbnail">
        </div>
        <div class="col-md-12">
            <fieldset class="img-info">
                <legend>Information</legend>
                <div>
                    <dl style="display: none" class="dl-horizontal expected-width">
                        <dt style="width: 180px;">Largeur minimale attendue</dt>
                        <dd style="margin-left: 190px;"><span id="minwidthShow"></span>px</dd>
                    </dl>
                    <dl style="display: none" class="dl-horizontal expected-height">
                        <dt style="width: 180px;">Hauteur minimale attendue</dt>
                        <dd style="margin-left: 190px;"><span id="minheightShow"></span>px</dd>
                    </dl>
                </div>
            </fieldset>

            <fieldset>
                <legend>Sélection</legend>
                <div>
                    <div class="control-group">
                        <label class="control-label" for="wShow">Largeur</label>

                        <div class="controls">
                            <input type="text" style="width: 60px" class="wShow spinner" id="wShow"
                                   placeholder="Largeur" value=""/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="hShow">Hauteur</label>

                        <div class="controls">
                            <input type="text" style="width: 60px" class="hShow spinner" id="hShow"
                                   placeholder="Hauteur" value=""/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="modalFooter">
        <button class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>
            Annuler
        </button>
        <button class="btn btn-sm btn-primary form-crop-submit"><i class="icon-fullscreen"></i> Valider</button>
    </div>

</div>